$tablet-width: 768px;
$desktop-width: 1280px;
$pc-brainflix-black:#323232;
$pc-brainflix-blue:#0095FF;
$pc-silver:#AFAFAF;
$pc-white:#FFFFFF;
$sc-brainflix-darkblack:#000000;
$sc-brainflix-darkblue:#0065AD;
$sc-mercury:#E1E1E1;
$sc-alabaster:#FAFAFA;