@use "../../styles/partials/font" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/var";
 
*{
    font-family: "AvenirNext LT Pro";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a, a:active, a:visited{
        text-decoration: none; 
        color: $pc-white;
    }
}

.video-page{
    &--margin{
        padding: 0 1rem;
        
        @include tablet {
            padding: 0 2.25rem;
        }
        
        @include desktop {
            max-width: 69rem;
            margin: 0 auto;  
        }
    }

    @include desktop{
        &__desktop-layout{
            display: flex;
            flex-direction: row;        
            &--column{
                display: flex;
                flex-direction: column;
            }
        }
    }
}