@use "../../styles/partials/var" ;
@use "../../styles/partials/mixins" as *;

.next-videos{

    @include desktop{
        border-left: 1px solid $sc-mercury;
        min-width: 33%
    }

    &__header{
        padding: 0.75rem 0;
        color: $pc-silver;
        font-size: 0.81rem;
        line-height: 1.5rem;
        font-weight: 600;
        @include tablet {
            padding: 1.4rem 0 1rem;
        }

        @include desktop{
            padding-left: 1.5rem;
            padding-top: 2rem;
        }
    }

    &__wrapper{
        display: flex;
        flex-direction: row;
        @include tablet {
            margin-bottom: 1.4rem;
            max-width: 20rem;
        }

        @include desktop{
           max-width: 20rem;
        }

        &--column{
            display: flex;
            flex-direction: column;
            @include tablet {
                justify-content: space-between;
            }
        }
    }

    &__thumbnail{
        background-color: $sc-mercury;
        border-radius: 0.2rem;
        height: 3.5rem;   
        min-width: 6rem;
        margin-right: 1rem;
        @include tablet {
            height: 4.1rem;   
            min-width: 7rem;
        }

        @include desktop{
            margin-left: 1.5rem;
        }
    }

    &__title{
        font-size: 0.82rem;
        font-weight: 600;
        line-height: 1.125rem;
        padding-bottom: 0.4rem;
        @include tablet {
            font-size: 0.9rem;
            line-height: 1.2rem;
            padding: 0;
        }
    }

    &__author{
        font-size: 0.82rem;
        font-weight: 500;
        line-height: 1.125rem;
        padding-bottom: 0.75rem;
        @include tablet {
            font-size: 0.9rem;
            line-height: 1.2rem;
            padding: 0;
        }
    }
}