@use "../../styles/partials/var" as *;

.description{
    padding: 0 1rem;

    &__title{
        padding: 1rem 0;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        border-bottom: 1px solid $sc-mercury;
    }

    &__container{
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $sc-mercury;
        padding: 1rem 0 0;
    }

    &__stats1{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
    &__stats2{
        display: flex;
        flex-grow: 2;
        flex-direction: column;
    }

    &__author{
        padding-bottom: 0.75rem;
        font-size: 0.82rem;
        font-weight: 700;
        line-height: 1.125rem;
    }

    &__date{
        padding-bottom: 0.75rem;
        color: $pc-silver;
        font-size: 0.81rem;
        line-height: 1.125rem;
    }

    &__views{
        padding:0 0 0.75rem 1.8rem;
        margin-left: 1rem;
        color: $pc-silver;
        font-size: 0.81rem;
        line-height: 1.125rem;
        background: url("../../assets/icons/views.svg") no-repeat;
    }

    &__likes{
        padding:0 0 0.75rem 1.5rem;
        margin-left: 1rem;
        color: $pc-silver;       
        font-size: 0.81rem;
        line-height: 1.125rem;
        background: url("../../assets/icons/likes.svg") no-repeat;
    }


    &__synopsis{
        padding-top: 1rem;
        font-size: 0.82rem;
        font-weight: 500;
        line-height: 1.125rem;

    }

}
