@use "../../styles/partials/var";
@use "../../styles/partials/mixins" as *;

.description{

    &__title{
        padding: 1rem 0;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        border-bottom: 1px solid $sc-mercury;
        color: $pc-brainflix-black;
        @include tablet{
            padding: 1.5rem 0 0.5rem;
            font-size: 2.1rem;
            line-height: 2.75rem;
            font-weight: 700;
            border-bottom: none
        }

        @include desktop{
            padding: 2rem 0 0.5rem;
        }
    }

    &__container{
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $sc-mercury;
        padding: 1rem 0 0;
        @include tablet{
            padding: 0;
        }
    }

    &__stats1{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        @include tablet{
            flex-grow: 0;
            flex-direction: row;
            margin-left: auto;
        }
    }
    &__stats2{
        display: flex;
        flex-grow: 2;
        flex-direction: column;
        @include tablet{
            flex-direction: row;
            justify-content: flex-end;
        }
        @include desktop{
            padding-right: 1.5rem;
        }
    }

    &__author{
        color: $pc-brainflix-black;
        padding-bottom: 0.75rem;
        font-size: 0.82rem;
        font-weight: 700;
        line-height: 1.125rem;
        @include tablet{
            padding-bottom: .5rem;
        }
    }

    &__date{
        padding: 0 0 0.75rem 0;
        color: $pc-silver;
        font-size: 0.81rem;
        line-height: 1.125rem;
        @include tablet {
            padding: 0 0 .5rem 2.5rem;
        }
    }

    &__views{
        padding:0 0 0.75rem 1.8rem;
        margin-left: 1rem;
        color: $pc-silver;
        font-size: 0.81rem;
        line-height: 1.125rem;
        background: url("../../assets/icons/views.svg") no-repeat;
        @include tablet {
            padding-bottom: .5rem;
        }
    }

    &__likes{
        padding:0 0 0.75rem 1.5rem;
        margin-left: 1rem;
        color: $pc-silver;       
        font-size: 0.81rem;
        line-height: 1.125rem;
        background: url("../../assets/icons/likes.svg") no-repeat;
        @include tablet {
            margin-left: 2rem;
            padding-bottom: .5rem;
        }
    }


    &__synopsis{
        padding-top: 1rem;
        font-size: 0.82rem;
        font-weight: 500;
        line-height: 1.125rem;
        @include tablet {
            font-size: 0.9rem;
            line-height: 1.375rem;
            padding: 1.5rem 0 1rem;
        }
        @include desktop{
            padding-right: 1.5rem;
            padding-bottom: 2rem;
        }
    }
}
