@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/var";

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    @include tablet {
        flex-direction: row;
        padding: 0 2rem;
    }

    &__logo{
        padding: 0.7rem 0 1rem;
        width: 7.5rem;
    }

    &__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        @include tablet {
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-end;
            gap: 1rem;
        } 

        &__search{
            display: flex;
            flex-grow: 1;
            height: 2.25rem;
            border: 1px solid $sc-mercury;
            border-radius: 0.25rem;
            background: url("../../assets/icons/search.svg") no-repeat 0.4rem center;
            padding: 0.62rem 0 0 2rem;
            resize: none;
            overflow: auto;
            background-color: $sc-alabaster;
            @include tablet {
                flex-grow: 0;
                order:1;
                height: 2.5rem;
                width: 15rem;
                padding: .75rem 0 0 2rem;
            } 
        }
    
        textarea:focus, input:focus{
            outline-color: $pc-brainflix-blue;
        }
    
        &__profile{
            margin-left: 1rem;
            display: flex;
            flex-grow: 0;
            border-radius: 50%;
            height: 2.25rem;
            width: 2.25rem;
            object-fit: cover;
            @include tablet {
                order: 3; 
                margin-left: 0;
                height: 2.5rem;
                width: 2.5rem;
            }
        }

        &__upload{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 1rem 0;
            height: 2.5rem;
            border-radius: 0.25rem;
            background: url("../../assets/icons/upload.svg") no-repeat $pc-brainflix-blue 0.4rem 50%;
            font-size: 0.75rem;
            animation-timing-function: ease-out;
            transition-duration: 200ms;
            animation-delay: 100ms;
            @include tablet {
                max-width: 9.375rem;
                order:2;
            }
        }
    
        &__upload:hover{
            background-color: $sc-brainflix-darkblue;
            transition-duration: 200ms;
            animation-timing-function: ease-out;
            animation-delay: 100ms;
        }
    }
}