@use "../../styles/partials/var";
@use "../../styles/partials/mixins" as *;

.upload-form {
    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        padding: 2rem 0 0.5rem;
    }

    &__label {
        color: $pc-silver;
        font-size: 0.81rem;
        line-height: 1.5rem;
        font-weight: 600;
        padding-top: 0.5rem;

        @include tablet {
            font-size: 0.73rem;
        }
    }

    &__thumbnail {
        border-radius: 0.4rem;
        width: 100%;
        object-fit: cover;
    }

    &__textarea--title {
        border: 1px solid $sc-mercury;
        resize: none;
        overflow: auto;
        background-color: $sc-alabaster;
        padding: 0.6rem 0 0 1rem;
        border-radius: 0.25rem;
        width: 100%;
        height: 2.25rem;
    }

    &__textarea--description {
        @extend .upload-form__textarea--title;
        height: 5.5rem;
    }

    textarea:focus,
    input:focus {
        outline-color: $pc-brainflix-blue;
    }

    textarea::placeholder {
        color: $pc-brainflix-black;
    }

    &__btn-publish {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: none;
        color: $pc-white;
        width: 100%;
        margin: 1.2rem 0;
        height: 2.5rem;
        border-radius: 0.25rem;
        background: url("../../assets/icons/publish.svg") no-repeat $pc-brainflix-blue 0.4rem 50%;
        font-size: 0.75rem;
        animation-timing-function: ease-out;
        transition-duration: 200ms;
        animation-delay: 100ms;

        @include tablet {
            max-width: 9.375rem;
            order: 2;
        }
    }

    &__btn-publish:hover {
        background-color: $sc-brainflix-darkblue;
        transition-duration: 200ms;
        animation-timing-function: ease-out;
        animation-delay: 100ms;
        cursor: pointer;
    }

    &__btn-cancel {
        @extend .upload-form__btn-publish;
        background-image: none;
        background-color:$pc-white;
        color: $pc-brainflix-blue;
        font-weight: 600;
        margin-top: 1.5rem;
    }

    &__btn-cancel:hover{
        border: 2px solid $pc-brainflix-blue;
        background: none;
        cursor: pointer;
    }

}