@use "../../styles/partials/var";
@use "../../styles/partials/mixins" as *;

.upload-form {
    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        padding: 2rem 0 0.5rem;

        @include tablet {
            font-size: 2.1rem;
            padding: 2.5rem 0 1.5rem;
            border-bottom: 1px solid $sc-mercury;
            margin-bottom: 1rem;
        }
    }

    &__label {
        color: $pc-silver;
        font-size: 0.81rem;
        line-height: 1.5rem;
        font-weight: 600;
        padding-top: 0.5rem;
    }

    &__thumbnail {
        border-radius: 0.4rem;
        width: 100%;
        object-fit: cover;

        @include tablet {
            width: 22.5rem;
        }

        @include desktop {
            width: 20rem;
        }
    }

    &__textarea {

        &--container {
            @include tablet {
                padding-bottom: 1rem;
                border-bottom: 1px solid $sc-mercury;
            }

            @include desktop {
                padding-bottom: 0rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                border-bottom: none;
            }
        }

        &--title {
            border: 1px solid $sc-mercury;
            resize: none;
            overflow: auto;
            background-color: $sc-alabaster;
            padding: 0.6rem 0 0 1rem;
            border-radius: 0.25rem;
            width: 100%;
            height: 2.25rem;
        }

        &--description {
            @extend .upload-form__textarea--title;
            height: 5.5rem;
        }
    }


    textarea:focus,
    input:focus {
        outline-color: $pc-brainflix-blue;
    }

    textarea::placeholder {
        color: $pc-brainflix-black;
    }

    &__desktop-layout--row {
        @include desktop {
            display: flex;
            gap: 2rem;
            border-bottom: 1px solid $sc-mercury;
            padding-bottom: 1.5rem;
        }
    }

    &__btn {
        &--container {
            @include tablet {
                display: flex;
                justify-content: flex-end;
                gap: 2rem;
            }
        }

        &-publish {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border: none;
            color: $pc-white;
            width: 100%;
            margin: 1.5rem 0;
            height: 2.5rem;
            border-radius: 0.25rem;
            background: url("../../assets/icons/publish.svg") no-repeat $pc-brainflix-blue 0.4rem 50%;
            font-size: 0.75rem;
            animation-timing-function: ease-out;
            transition-duration: 200ms;
            animation-delay: 100ms;

            @include tablet {
                max-width: 9.375rem;
                order: 2;
            }
        }

        &-publish:hover {
            background-color: $sc-brainflix-darkblue;
            transition-duration: 200ms;
            animation-timing-function: ease-out;
            animation-delay: 100ms;
            cursor: pointer;
        }

        &-cancel {
            @extend .upload-form__btn-publish;
            background-image: none;
            background-color: $pc-white;
            color: $pc-brainflix-blue;
            font-weight: 600;
            margin-top: 1.5rem;
            transition-duration: 100ms;

            @include tablet {
                order: 1;
            }
        }

        &-cancel:hover {
            color: $pc-brainflix-blue;
            border: 2px solid $pc-brainflix-blue;
            background: none;
            cursor: pointer;
            transition-duration: 100ms;
        }
    }


}