@use "../../styles/partials/var";
@use "../../styles/partials/mixins" as *;

.video-player{
    display: flex;
    flex-grow: 1;
    aspect-ratio: 16/9;
    max-height: 40rem;

    &__container{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        background-color: black;
    }
}
 