@use "../../styles/partials/var";
@use "../../styles/partials/mixins" as *;

.video-player{
   width: 100%;
   aspect-ratio: 16/9;

    &__container{
        background-color: $sc-brainflix-darkblack;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;

        @include tablet{
            max-height: 24.7rem;
        }

        @include desktop{
            max-height: 30rem;
        }
    }
}
 